<div id="<%= dom_id book %>">
  <p>
    <strong>Libro :</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Autor :</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Fecha préstamo :</strong>
    <%= book.loan_date %>
  </p>

  <p>
    <strong>Fecha devolución :</strong>
    <%= book.return_date %>
  </p>

  <p>
    <strong>Estado :</strong>
    <%= book.status %>
  </p>
</div>
